@charset "UTF-8";

/*Container Outlines*/
/*
#mainWindow, #chatBar, #userChatInput{
	border: solid 1px green;
}
*/

/* CSS Document */

/* Modal */
.btn-md{
	margin-top: 2.5px;
	margin-right: 10px;
	float: right;
	font-weight: bolder;
}
/*
.modal-dialog {
    width: 360px;
    height: 470px;
    position: relative;
    margin: 0px 0px;
    top: 50px;
    left: 700px;
}
*/
/* Chat Box */
#mainWindow{
	float: left;
	display: inline-block;
	width: 360px;
	height: 80%;
	background: white;
	border: 1px solid black;
	border-radius: 6px;
	margin: 2px 6px 2px 6px;
	padding: 5px 5px 5px 5px;
	overflow: scroll;
}
#chatContainer{
	height: 90%;
}
#chatBar{
	clear: both;
	float: left;
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #444444;
}
#userChatInput{
	margin-top: 10px;
	margin-left: 6px;
	float: left;
	width: 80%;
	height: 100px;
	border: 1px solid grey;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
}
#userSend{
	margin-top: 40px;
	margin-left: 10px;
	border-radius: 6px;
	font-weight: bold;
	color: black;
}
