@charset "UTF-8";

/*Container Outlines*/
/*
#mainWindow, #chatBar, #userChatInput{
	border: solid 1px green;
}
*/

/* CSS Document */

/* Modal */
.btn-md{
	margin-top: 2.5px;
	margin-right: 2.5px;
	float: right;
	font-weight: bolder;
	padding-top: 5px;
}


/* Chat Box */
#mainWindow{
	float: left;
	display: inline-block;
	width: 360px;
	height: 425px;
	background: white;
	border: 1px solid black;
	border-radius: 6px;
	margin: 2px 6px 2px 6px;
}
#chatBar{
	clear: both;
	float: left;
	display: inline-block;
	width: 100%;
	height: 150px;
	background: #444444;
}
#userChatInput{
	margin-top: 10px;
	margin-left: 6px;
	float: left;
	display: inline-block;
	width: 80%;
	height: 130px;
	border: 1px solid grey;
	border-radius: 6px;
}
#userSend{
	margin-top: 115px;
	margin-left: 10px;
	border-radius: 6px;
	font-weight: bold;
}
