body{
	background: #666666;
}
/*
.row{
	border: 1px solid red;
}
.col{
	border: 1px solid blue;
}
*/
.btn{
	float: right;
}
.placeholder{
	height: 100px;
}
.comment-placeholder{
	height: 500px;
}
.panel-title, .panel-body{
	color: grey;
}
.panel-heading{
	border-bottom: 1px solid #222;
}
.jukebox{
	background: #333;
}
.playlist{
	background: #333;
}
.comments{
	background: #333;
}
a, img{
	height: 50px
	weight: 50px;
}
