/*-----Whole Document-----*/
body{
	background: #666666;
	overflow: hidden;
}
body, html{
	height: 100%;
}

.container-fluid, .comments, footer{
	border: 1px solid orange;
}

/*-----Row and Column Outlines-----*/

.row{
	border: 1px solid red;
}
.col{
	border: 1px solid blue;
}

/*-----Navbar-----*/
.navbar-form{
	width: 390px;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
/*-----JukeBox-----*/
.jukebox{
	background: #333;
}
.btn{
	float: right;
}
/*-----Playlist-----*/
.playlist{
	background: #333;
}
.thumbnail-row{
	overflow-x: scroll;
	overflow-y: hidden;	
	width: auto;
}

/*-----Panels-----*/
.panel-title, .panel-body{
	color: grey;
	padding-top: 10px;
}
.panel-body{
	height: 100%;
	padding: 0px;
	width: 100%;
}
.panel-heading{
	border-bottom: 1px solid #222;
	padding-right: 0px;
	padding-top: 0px;
}
.placeholder{
	height: 100px;
}
/*-----Footer-----*/
footer {
	background: #222;
	bottom: 0px;
	color: white;
	left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1;
}
/*Media Queries for Chatbox*/
@media screen and (max-width: 1200px) {
	.jukebox, .playlist{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
