/*-----Whole Document-----*/
body{
	background: #666666;
}
.container{
	float: none;
}
.container-fluid{
	border: 1px solid orange;
}
/*-----Row and Column Outlines-----*/
.row{
	border: 1px solid red;
}
.col{
	border: 1px solid blue;
}
/*-----Navbar-----*/

/*-----JukeBox-----*/
.jukebox{
	background: #333;
}
.btn{
	float: right;
}
/*-----Playlist-----*/
.playlist{
	background: #333;
}
/*-----Comment-----*/
.comment-placeholder{
	height: 500px;
}
.comments{
	background: #333;

}
/*-----Panels-----*/
.panel-title, .panel-body{
	color: grey;
}
.panel-heading{
	border-bottom: 1px solid #222;
}
.placeholder{
	height: 100px;
}
/*-----Footer-----*/
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#333;
   color: white;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}