.thumbnail {
	padding: 0px;
	border: 0px;
	margin: 10px;
	width: 100px;
}

.song {
	margin-left: 10px;
}

.artist {
	margin-left: 10px;
}

audio {
	padding-left: 15px;
	margin-top: 15px;
	float: left;
	width: 90%;
}

#voteButtons {
	width: 10%;
}

