@charset "UTF-8";

/* CSS Document */

/* NOTE TO INSTRUCTOR(S): Items are in alphabetical order. To view css by section, please reference the archived CSS files*/

.artist {
	margin-left: 10px;
}

audio {
	float: left;
	width: 100%;
}

body{
	background: #666666;
	overflow: hidden;
}

body, html{
	height: 100%;
}

.btn{
	float: right;
}

.btn-md{
	float: right;
	font-weight: bolder;
	margin-top: 2.5px;
	margin-right: 10px;
}

#chatBar{
	background: #000000;
	clear: both;
	display: inline-block;
	float: left;
	height: 100%;
	width: 100%;
}

#chatContainer{
	height: 90%;
}

.comments{
	background: #333;
	border-radius: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.comments-body {
	color: #000000;
	padding-top: 10px;
}

.comment-container{
	background: #000000;
	border: 2px solid black;
	height: 95%;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	right: 0px;
	top: 61px;
	width: 380px;
}

.comment-placeholder{
	background: #000000;
	height: 95%;
	overflow: hidden;	
}

footer {
	background: #222;
	bottom: 0px;
	color: white;
	left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.jukebox{
	background: #333;
}

#mainWindow{
	background: white;
	border: 1px solid black;
	border-radius: 6px;
	display: inline-block;
	float: left;
	height: 80%;
	margin: 2px 6px 2px 6px;
	overflow: scroll;
	padding: 5px 5px 5px 5px;
	width: 360px;
}

.modal-dialog {
	width: 400px;
	padding-top: 100px;
}

.modal-button {
	margin-top: 2.5px;
	margin-right: 10px;
	float: right;
}

.modal-title {
	float: left;
	height: 25px;
}

.navbar{
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-form{
	width: 390px;
}

#navbar-image {
	height: 60px;
}

#navbarSearchForm {
	margin-top: 4px;
	float: right;
}

p, h1, h2, h3, label, footer, {
	font-family: 'Source Sans Pro', sans-serif;
}

.panel-title, .panel-body, .panel-heading, .navbar, footer {
	background: #000000;
	border: #000000;;
}

.panel-title {
	color: white;
	padding-top: 10px;
}

.panel-body{
	color: #000000;
	height: 100%;
	padding: 0px;
	width: 100%;
}
.panel-heading{
	padding-right: 0px;
	padding-top: 0px;
}
.placeholder{
	height: 100px;
}

.playlist{
	background: #333;
}

/*.playlist {
	display: none;
}*/

.song {
	margin-left: 10px;
}

.sound-body{
	padding-top: 0px;
}

.thumbnail {
	padding: 0px;
	border: 0px;
	margin: 10px;
	width: 100px;
	height: 130px;
}

.thumbnail-row{
	overflow-x: scroll;
	overflow-y: hidden;	
	width: auto;
}

#userChatInput{
	border: 1px solid grey;
	border-radius: 6px;
	float: left;
	height: 90px;
	margin-left: 6px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	width: 97%;
}

#userSend{
/*	border-radius: 6px;*/
/*	color: #000000;*/
	float: left;
/*	font-weight: bold;*/
	margin-top: 10px;
	margin-left: 10px;
/*	padding: 5px 5px;*/
}

#voteButtons {
	width: 10%;
}


/*Background*/

@import 'https://fonts.googleapis.com/css?family=Lato:300';

html, body, .background
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: white;
}

body
{
	background: linear-gradient(0deg, rgba(0, 0, 200, 0.6) , rgba(0, 0, 200, 0) );
}

.background
{
	background: linear-gradient(120deg, rgba(50, 150, 100, 0.6) , rgba(0, 0, 100, 0) );
	z-index: 0
}

.bg-container
{
	background: linear-gradient(240deg, rgba(150, 50, 50, 0.6) , rgba(0, 0, 200, 0) );
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 0
}



/*Media Queries*/

@media screen and (max-width: 1200px) {
	.jukebox, .playlist{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1200px) {
	body{
		background: red;
		height: auto;
		overflow: auto;
	}
		/*-- Comment Containers --*/
	.placeholder{
		height: 50px;
	}
	.comment-placeholder{
		height: 100%;
		padding-left: 10%;		
		padding-right: 10%;
		width: 100%;
	}
	.comment-container{
		height: 100%;
		position: relative;
		top: 0px;
		width: 100%;
	}
	.comments-body{
		background: #000000;
	}
	/*-- Chatbox --*/
	#mainWindow{
		height: 300px;
		margin: 2px 0px 2px 0px;
		width: 100%;
	}
	#chatContainer{
		height: 100%;
	}
	#chatBar{
		padding-bottom: 50px;
	}
	#userChatInput{
		margin-left: 0px;
		width: 85%;
	}

	#aboveTheFold, #belowTheFold {
	    margin-top: 200px
	}

	@import 'https://fonts.googleapis.com/css?family=Lato:300';

	html, body, .background
	{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Lato', sans-serif;
		background: white;
	}

	body
	{
		background: linear-gradient(0deg, rgba(0, 0, 200, 0.6) , rgba(0, 0, 200, 0) );
	}

	.background
	{
		background: linear-gradient(120deg, rgba(50, 150, 100, 0.6) , rgba(0, 0, 100, 0) );
		z-index: 0
	}

	.bg-container
	{
		background: linear-gradient(240deg, rgba(150, 50, 50, 0.6) , rgba(0, 0, 200, 0) );
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		z-index: 0
	}


}

@media screen and (max-width: 640px){
	body{
		background: green;
	}
	#userChatInput{
		width: 75%;
	}

}
