@charset "UTF-8";

/* CSS Document */

/* Modal */
.btn-md{
	float: right;
	font-weight: bolder;
	margin-top: 2.5px;
	margin-right: 10px;
}
/*-----Comment Container-----*/
.comment-placeholder{
	background: #444444;
	height: 95%;
	overflow: hidden;	
}
.comment-container{
	background: #444444;
	border: 2px solid black;
	height: 95%;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	right: 0px;
	top: 61px;
	width: 380px;
}
.comments{
	background: #333;
	border-radius: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
/*----- Chat Box -----*/
#mainWindow{
	background: white;
	border: 1px solid black;
	border-radius: 6px;
	display: inline-block;
	float: left;
	height: 80%;
	margin: 2px 6px 2px 6px;
	overflow: scroll;
	padding: 5px 5px 5px 5px;
	width: 360px;
}
#chatContainer{
	height: 90%;
}
#chatBar{
	background: #444444;
	clear: both;
	display: inline-block;
	float: left;
	height: 100%;
	width: 100%;
}
#userChatInput{
	border: 1px solid grey;
	border-radius: 6px;
	float: left;
	height: 90px;
	margin-left: 6px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	width: 80%;
}
#userSend{
	border-radius: 6px;
	color: black;
	float: left;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px 5px;
}
/*Media Queries for Chatbox*/
@media screen and (max-width: 1200px) {
	body{
		background: red;
		height: auto;
		overflow: auto;
	}
		/*-- Comment Containers --*/
	.placeholder{
		height: 50px;
	}
	.comment-placeholder{
		height: 100%;
		padding-left: 10%;		
		padding-right: 10%;
		width: 100%;
	}
	.comment-container{
		height: 100%;
		position: relative;
		top: 0px;
		width: 100%;
	}
	.comments-body{
		background: #444444;
	}
	/*-- Chatbox --*/
	#mainWindow{
		height: 300px;
		margin: 2px 0px 2px 0px;
		width: 100%;
	}
	#chatContainer{
		height: 100%;
	}
	#chatBar{
		padding-bottom: 50px;
	}
	#userChatInput{
		margin-left: 0px;
		width: 85%;
	}
}
@media screen and (max-width: 640px){
	body{
		background: green;
	}
	#userChatInput{
		width: 75%;
	}

}/*iPhone size*/